.thin-font {
    font-family: "Lato",Calibri,Arial,sans-serif;
    font-weight: 300;
}
.block-hide {
    display: none !important;
}
textarea {
    resize: none;
}
.start-zone {
    padding: 100px;
}
.start-zone p {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.browse_files {
    text-decoration: underline;
}
.highlight {
    color: #fff !important;
}
.preview-zone {
    margin: 50px auto;
}
.preview-zone img {
    display: block;
    height: 500px;
    margin: 0 auto;
}
.thumbnail-zone {
    margin-bottom: 30px;
}
.thumbnails-holder .upload-thumbnail {
    border-radius: 0 !important;
    display: block;
    float: left;
    height: 64px;
    overflow: hidden;
    width: 64px;
}
.upload-thumbnail .glyphicon-ok-sign {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    color: #5cb85c;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
.upload-thumbnail.ready .glyphicon-ok-sign {
    display: block;
}
.thumbnails-holder .active {
    border-bottom: 2px solid #428bca;
    padding-bottom: 10px;
}
.thumbnail-zone .nav > li {
    margin: 10px 10px 10px 0;
    padding-bottom: 10px;
}
.thumbnail-zone .nav > li > a, .thumbnail-zone .nav > li > a:hover {
    border: medium none;
    margin-right: 0;
    padding: 0;
}
.thumbnail-zone .actions {
    margin-top: 20px;
}
.thumbnail-zone .nav-tabs {
    border: medium none;
}
.container-fluid {
    background: none repeat scroll 0 0 #f7f8fa;
    padding: 20px 0 50px;
    width: 100%;
}
.label-main {
    color: #428bca;
    font-size: 14px;
    font-weight: bold;
}
.photo-title {
    font-size: 26px;
    font-weight: bold;
    margin-left: -5px;
    padding-left: 5px;
}
.instant-edit {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
}
.instant-edit:focus {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #66afe9;
}
.edit-zone .map-canvas {
    height: 240px;
}
textarea[name="photo[description]"] {
    margin-bottom: 56px;
}
.progress-holder {
    display: none;
    /*margin-top: 200px;*/
}
.progress-holder.show {
    display: block;
}
.progress-holder .progress-rate {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.panel-body img {
    max-width: 100%;
}
.panel-footer {
    overflow: hidden;
    text-overflow: ellipsis;
}
.snap-content {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 5px 1px #777;
    padding-top: 70px;
    bottom: 0;
    height: auto;
    left: 0;
    overflow: auto;
    /*position: absolute;*/
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    width: auto;
    z-index: 2;
}
.no-overlapping {    
    position: inherit;    
}
.navbar-toggle {
    margin: 8px 15px;
}
.side-menu h3 {
    padding-left: 15px;
}
.side-menu a.list-group-item {
    border-radius: 0;
}
.dropzone {
    line-height: 25px;
    text-align: center;
    font-weight: bold;    
}
.dropzone .addmore {
	display: inline-block;
    position: relative;
    min-height: 300px;
    height: 400px;
    width: 100%;
}
.dropzone .addmore > a{
	color: #3b5998;
    cursor: pointer;
    text-decoration: none;
}

.dropzone .addmore .box{
	border: 0.15em dashed #b2b2b2;
    border-radius: 5px;
    color: #b2b2b2;
    /*cursor: pointer;*/
    display: table;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 100%;
    width: 100%;
}
.dropzone .addmore .box > div
,.box-solid > div{
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.dropzone .addmore .box .plus-icon {
	background-image: url("../img/add_more.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    height: 48px;
    margin-bottom: 12px;
    width: 100%;
}
.dropzone .addmore .box .items-holder
,.box-solid .items-holder{
    text-align: left;
    max-height: 180px;
    overflow: auto;
}
.box-solid{
    border: 0.15em solid #b2b2b2;
    border-radius: 5px;
    color: #b2b2b2;
    display: table;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 100%;
    width: 100%;
}
.downloadzone, .sharezone {
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    min-height: 300px;
    height: 400px;
    width: 100%;
}
.box-solid-only{
    border: 0.15em solid #b2b2b2;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}